body {
	font-family: sans-serif;
	text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.text-input-cell, .text-input-cell-footer, .text-input-cell-text {
	display: flow-root;
	background: #333;
	color: #ccc;
}

.text-input-cell {
	position: relative;
	.text-input-cell-text {
		padding: 0.3em;
		min-height: 5em;
		textarea {
			background: #333;
			border: 2px solid #777;
			color: #ccc;
		}

		textarea:focus {
			outline: none;
			border: 2px solid #ccc;
		}
	}
	
	.text-input-cell-footer {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		span {
			padding: 0.3em;
			margin: 0.3em;
			border-radius: 0.5em;
			border: 2px solid #ccc;
			display: inline-block;
		}
	}
}

.text-input-cell:hover {
	background: #f00;
}

#add-text-button {
	border-radius: 2em;
	padding: 0.5em 0.5em;
	margin: 0.5em;
	display: block;
	text-align: center;
	color: #ccc;
	background: #333;
	box-sizing: border-box;
}

#add-text-button:hover {
	color: #333;
	background: #ccc;
}
